<h1>There are <%= @stores.count %>number of Stores </h1>

<% @stores.each do |store| %>
  <li><%=store.long_name%></li>
   <li><%= store.address %></li>
   <li><%= store.city %></li>
   <li><%= store.distance %></li>
   <li><%= store.phone_number %></li>
<% end %>

expect(page).to have_content
expect(page).to have_content "17 Total Stores"
expect(page).to have_content "15 results" #need to do some sort of pagination
expect(page).to have_content "long_name:"
expect(page).to have_content "city:"
expect(page).to have_content "distance:"
expect(page).to have_content "phone number:"
expect(page).to have_content "store type:"

whats up?
