<h1>There are <%= @stores.count %> Total Stores </h1>


<% @stores.each.with_index do |store,index| %>
  <% unless index%>
  <li>Long Name:<%=store.name%></li>
   <li>Address: <%= store.address %></li>
   <li>City: <%= store.city %></li>
   <li>Distance: <%= store.distance %></li>
   <li>Phone Number: <%= store.phone %></li>
   <li>Hours: <%= store.hours %></li>
   <li>Store Type: <%= store.store_type %></li>
<% end %>

expect(page).to have_content "15 results" #need to do some sort of pagination
